*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	padding: 0;
	margin: 0;
}
.container {
	max-width: 200%;
	margin: 0;
	padding: 0;
}
/* .viewsize {
	width: 100%;
} */
.main,
p {
	flex-wrap: wrap;
	width: 100%;
	flex: 1 1 0;
}
.text {
	background-color: rgb(17, 17, 80);
	color: white;
	margin: 0;
}
.flex {
	display: flex;
}

.gf,
.ac,
.gfaca {
	flex-direction: column;
	flex-wrap: wrap;
	margin: 2px;
}
.gfandac {
	/* 	flex: 1 1 0; */
	flex-wrap: wrap;
}
/* .size {
	width: 100%;
} */

/*.ac {
	flex-grow: 1;
} */
