/* *,
*::before,
*::after {
	box-sizing: border-box;
} */
.fullpage {
	width: 100%;
	margin: 0;
}
.main {
	width: 100%;
	flex: 1 1 0;
}
.text {
	background-color: rgb(17, 17, 80);
	color: white;
	margin: 0;
}
.flex {
	display: flex;
}
.gf,
.ac,
.gfaca {
	flex-direction: column;
	flex: 1 1 0;
}
.gfandac {
	flex: 1 1 0;
}

/*.ac {
	flex-grow: 1;
} */
